# LINE
LINE_CHANNEL_ID=你的_LIFF_所屬_Channel_ID
LIFF_ID=你的_LIFF_App_ID

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

# Flask
FLASK_SECRET_KEY=隨機字串_開發用
FLASK_ENV=production

SCRIPT_NAME=
